/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -------------Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}

/* -------------Variables */
html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}


nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}

/* ------------------------ Main section */

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding:20%;
  display: flex;
}

.product{
  padding: var(--space);
  margin-top: -240px;
}
.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}
