/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
html,body{
  padding:0px;
  margin:0px;
  font-size: 12px;
  font-family: Helvetica;
}


nav{
  display: flex;
  background-color: #7ACC2D;
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: black;
  text-decoration: none;
}

nav li a:hover{
  color: white;
}

/* ------------------------ Main section */

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  height: 200px;
  background-size: cover;
  background-position: center top;
  padding:15%;
  display: flex;
}

.product{
  padding: 10px;
}
.product .content{
  background-color: white;
  padding: 20px;
}
