/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
html,body{
  padding:0px;
  margin:0px;
  font-size: 12px;
  font-family: Helvetica;
}

nav{
  display: flex;
  background-color: #7ACC2D;
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: black;
  text-decoration: none;
}

nav li a:hover{
  color: white;
}
