/*
#  ····················__····_·__···
#  ···____·___··____··/·/_··(_)·/__·
#  ··/·__·`__·\/·__·\/·__·\/·/·/·_·\
#  ·/·/·/·/·/·/·/_/·/·/_/·/·/·/··__/
#  /_/·/_/·/_/\____/_.___/_/_/\___/·
#  ································· */

@media (max-width: 650px) {

  .main_section{
    padding: 5%;
  }
  .products{
    display: block;
    height: auto;
    padding: 5%;
  }
  .product{
    margin-top: auto;
  }
  .beneficios{
    display: initial;
  }
  .mentions{
    display: initial;
  }
}
