/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
body{
  background: salmon;
  font-family: helvetica;
  color: white;

}

p{
  font-size: 12px;
}

#soyunid{
  color: blue;
}

.soyunaclase{
  color: gray;
}
